// --- 自定义颜色变量 ---
$white: #ffffff; 
$primary-color: #3468c0;
$nav-color: #3468c0;
$body-heading-color: #2d52a3;
$link-color: #2980b9;
$btn-primary-color: #3468c0;

// 重写 Just the Docs 的颜色变量
$body-background-color: $white;
$sidebar-color: #f5f7fa; 
$search-background-color: $white;
$table-background-color: $white;
$code-background-color: #f7f9fb;
$body-text-color: #2e353c;
$search-result-preview-color: #7d8590;
$nav-child-link-color: #586069;
$base-button-color: #e1e4e8;